{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section id="login">
		<h1 class="header orange text-center">Login</h1>
		<p class="text-center dark-grey">Welcome back!<br>Ready to vanquish your enemeies?</p>

		<form id="login-form" class="drop-shadow" method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control grey" placeholder="Username" required autofocus>
			<input type="password" name="password" id="inputPassword" class="form-control grey" placeholder="Password" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<span id="button-items">
				<button id="signin-button" class="drop-shadow dark-grey inactive" type="submit">Let's Go!</button>
				<a href="{{ path('app_signup')}}" class="orange semi-bold">Sign Up</a>
				<a href="{{ path('app_recovery')}}" class="orange text-right">I forgot my password</a>
			</span>
		</form>
	</section>
{% endblock %}
